/lib/assets/example_graph/journals/*
!/lib/assets/example_graph/journals/.gitkeep
/lib/assets/example_graph/logseq/*
!/lib/assets/example_graph/logseq/.gitkeep
/lib/assets/example_graph/pages/*
!/lib/assets/example_graph/pages/.gitkeep
.env
target/
